<h1 class="mt-4">Home</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Bem vindo</li>
</ol>
<!--
<p>Por favor, selecione o tipo de membro:</p>
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Tipo de Membro
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Servidor/Professor</a>
      <a class="dropdown-item" href="#">Aluno</a>
      <a class="dropdown-item" href="#">Membro Externo</a>
    </div>
  </div>-->